
{% extends "main_layout.html" %}

{% block content %}
    <h3>学生一覧</h3>
    <table border="1" align="center">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>カナ</th>
            <th>性別</th>
            <th>クラス</th>
        </tr>
    {% for i in list%}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>
            {% if i[3] == 0 %}
                男
            {% else %}
                女
            {% endif %}

            </td>
            <td>
            {% if i[4] == 1 %}
                情報システム科
            {% elif i[4] == 2 %}
                ネットワークセキュリティ科
            {% else %}
                高度情報工学科
            {% endif %}

            </td>
        </tr>
    {% endfor %}
    </table>


{% endblock %}